body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 960px;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #333333;
	display: flex;
	justify-content: flex-end;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#news{
	width: 590px;
	height: 800px;
	overflow: auto;
	float: left;
	background-color: white;
	padding-left: 80px;
	padding-top: 50px;
}
#text{
	width: 500px;
	height: auto;
}
#side-menu{
	width: 260px;
	height: 750px;
	overflow: auto;
	float: left;
	background-color: #eeeeee;
	padding-left: 30px;
	padding-top: 100px;
	font-size: 16px;
}#line{
	height: 1px;
	weight: 100px;
	background-color: grey;
}
#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
}